<form (ngSubmit)="logInUser(formLogin)" class="loginForm" #formLogin="ngForm">
  <span *ngIf="formLogin.submitted && formLogin.controls['email'].errors" class="text-danger">* El email es obligatorio</span>
  <div class="mb-3" >
    <label for="inputEmail" class="form-label">Correo electrónico</label>
    <input
      type="text"
      class="form-control"
      id="inputEmail"
      name="email"
      email
      required
      [(ngModel)]="user._email"
      aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Nunca compartiremos tu correo electrónico.</div>
  </div>
  <span *ngIf="formLogin.submitted && formLogin.controls['password'].errors" class="text-danger animated fadeIn">* La contraseña es obligatoria</span>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Contraseña</label>
    <input
      type="password"
      class="form-control"
      id="inputPassword"
      minlength="5"
      name="password"
      [(ngModel)]="user._password">
  </div>

  <button type="submit" class="btn btn-primary" style="border-color: rgba(222,92,157,255); background-color: rgba(222,92,157,255)">Enviar</button>
</form>

