<form (ngSubmit)="registerUser(formRegister)" class="registerForm" #formRegister="ngForm">
  <div class="mb-3" >
    <label for="InputEmail1" class="form-label">Correo electrónico</label>
    <input
      type="text"
      class="form-control"
      id="InputEmail1"
      name="email"
      email
      [(ngModel)]="user._email"
      aria-describedby="emailHelp"
      required>
    <div id="emailHelp" class="form-text">Nunca compartiremos tu correo electrónico.</div>
  </div>
  <div class="mb-3">
    <label for="InputNickname1" class="form-label">Nombre de Usuario</label>
    <input
      type="text"
      class="form-control"
      id="InputNickname1"
      name="nickname"
      [(ngModel)]="user._nickname"
      aria-describedby="nicknameHelp"
      required
      minlength="4"
      maxlength="20">
    <div id="nicknameHelp" class="form-text">Elije un usuario original.</div>
  </div>
  <div class="mb-3">
    <label for="InputName1" class="form-label">Nombre</label>
    <input
      type="text"
      class="form-control"
      id="InputName1"
      name="name"
      [(ngModel)]="user._name"
      aria-describedby="nameHelp"
      required>
    <div id="nameHelp" class="form-text">Nombre y apellidos.</div>
  </div>
  <div class="mb-3">
    <label for="InputPassword1" class="form-label">Contraseña</label>
    <input name="password" type="password" class="form-control" id="InputPassword1" required [(ngModel)]="user._password" aria-describedby="passwordHelp" minlength="5">
    <div id="passwordHelp" class="form-text helper">
      <span *ngIf="formRegister.submitted && !passwordMatch" class="text-danger">* Las contraseñas no coinciden</span>
      <span *ngIf="formRegister.submitted && formRegister.controls['password'].errors" class="text-danger">* La contraseña es obligatoria</span>
      <span *ngIf="formRegister.submitted && !passwordCheck" class="text-danger">* La contraseña no tiene el patrón correcto</span>
    </div>
  </div>
  <div class="mb-3">
    <label for="InputPassword2" class="form-label">Repetir Contraseña</label>
    <input name="pass" type="password" class="form-control" id="InputPassword2" required [(ngModel)]="user._repPass">
  </div>
  <div class="mb-3">
    <label for="Date1" class="form-label">Introduce tu fecha de nacimiento</label>
    <input name="birthday" type="date" class="form-control" id="Date1" required [(ngModel)] ="user._date">

  </div>
  <div class="mb-3 form-check">
    <input name="adultContent" style="border-color: rgba(222,92,157,255); background-color: rgba(222,92,157,255)" type="checkbox" class="form-check-input" id="Check1" [(ngModel)] ="user._adultContent">
    <label class="form-check-label" for="Check1">Deseo ver contenido adulto</label>
  </div>
  <div class="mb-3 form-check">
    <input name="term" style="border-color: rgba(222,92,157,255); background-color: rgba(222,92,157,255)" type="checkbox" class="form-check-input" id="Check2" required [(ngModel)] ="user._terms">
    <label class="form-check-label" for="Check2">Acepto los términos y condiciones de uso</label>
  </div>
  <button type="submit" class="btn btn-primary" style="border-color: rgba(222,92,157,255); background-color: rgba(222,92,157,255)">Enviar</button>
</form>
