<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-pink navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/images/zeroTwoLogo.png" alt="Zero Two" width="30" height="24" class="d-inline-block align-text-top">
      Waifus
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Foro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Estadísticas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Estadísticas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Registrar</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Cerrar sesión</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
