/* You can add global styles to this file, and also import other style files */
.wrapper{
  display: grid;
  height: 100vh;
}

.darkTheme{
  color: rgba(248,249,250,255);
  background-color: rgba(52,58,64,255);
}

.lightTheme{
  color: rgba(52,58,64,255);
  background-color: rgba(248,249,250,255);
}
