/* You can add global styles to this file, and also import other style files */
.wrapper{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
        "section"
        "footer"
}

.darkTheme{
  color: rgba(248,249,250,255);
  background-color: rgba(52,58,64,255);
}

.lightTheme{
  color: rgba(52,58,64,255);
  background-color: rgba(248,249,250,255);
}

app-footer{
  grid-area: footer;
}

section{
  grid-area: section;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
